<p>Here are your albums, <%= @user.username %></p>
<% @user.albums.each do |album| %>
    <div>
    <%= album.album_name %>
    <%= album.artist_name %>
    <%= album.media_type %>
    <a href="/albums/<%= album.id %>/edit">Edit</a>
    </div>
    <% end %>

    <a href='/albums/new'>Add Album</a>
   